[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/tomato0
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/tomato0
	label-Verified = -1..+1 group user/tomato0
	push = group user/tomato0
	read = group user/tomato0
	rebase = group user/tomato0
	removeReviewer = group user/tomato0
	submit = group user/tomato0
[access "refs/heads/*"]
	create = group user/tomato0
	push = +force group user/tomato0
	pushMerge = group user/tomato0
	read = group user/tomato0
[access "refs/tags/*"]
	push = group user/tomato0
	push = +force group user/tomato0
